{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="post" novalidate>

  <h2>Logowanie</h2>
  <form action='{% url 'login' %}' method="post" autocomplete="off">
    {% csrf_token %}
    {{ form|crispy }}
    <button type='submit' class="btn btn-light">Zaloguj się</button>
  </form>

        <br>
<div>
    <button type="button" class="btn btn-light btn-lg"><a href="{% url 'register'%}">Rejestracja</a></button>
    <button type="button" class="btn btn-light btn-lg"><a href="{% url 'password_reset'%}">Reset hasła</a></button>
</div>

{% endblock %}