Cześć {{ sharing_user.user.username }}!
Użytkownik {{ logged_user.user.username }} chce wypożyczyć od Ciebie grę "{{ selected_product.name }}".
Czas wypożyczenia to: {{ borrow_date }} - {{ return_date }}.
Użytkownik jako sposób dostarczenia wybrał:  {{ how_get }}
{% if  delivery_adress != '' %}
Adres do wysyłki: {{ delivery_adress }}
{% endif %}
Skontaktuj się z użytkownikiem w celu ustalenia szczegółów wypożyczenia.
Adres email użytkownika: {{ logged_user.user.email }}
Niech inni poznają tę świetną grę! :)

Jeśli chcesz wypożyczyć grę {{ logged_user.user.username }} oznacz ją jako niedostępną dla innych użytkowników na swoim profilu

 http://127.0.0.1:8000{% url 'unavailable' object_id %} -  Oznacz grę jako wypożyczoną
{#<a href="https://yoursite.com{% url 'mail_view' pk %}">Click</a>#}