{% extends 'base.html'%}
   {% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% if just_logged_out %}  You are successfully logged out {% endif %}
{#      <button> <a href="{% url 'login'%}"> Zaloguj się </a> </button>#}
{#    <button> <a href="{% url 'register'%}">Zarejestruj się </a></button>#}
{#    <button> <a href="{% url 'product_search'%}">Przejdź do wyszukiwarki gier </a></button>#}
{#        <button> <a href="{% url 'profile_view'%}"> Moje konto </a></button>#}



{% endblock %}

