{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block content %}

<div class="container">

    <h2> Wyszukiwarka gier</h2>

    <form class="form-inline" action="" method="GET">
        {{ form|crispy }}
        <button class="btn" type="submit">Szukaj</button>
    </form>

    <table class="table table-bordered table-condensed">
        <tr>
            <th>Tytuł</th>
            <th>Kategoria</th>
            <th>Minimalna liczba graczy</th>
            <th>Maksymalna liczba graczy</th>
            <th>Minimalny wiek graczy</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td><a href = {% url 'product_detail' object.pk %}>{{object.name}} </a></td>
            <td>{{object.category}}</td>
            <td>{{object.min_number_of_players}}</td>
            <td>{{object.max_number_of_players}}</td>
            <td>{{object.min_age}}</td>
            <td> <button> <a href = {% url 'add_to_collection' object.pk %}>Dodaj grę do swojej kolekcji</a></button></td>
{#            <td> <img src='{{ object.image.url}}'> </td>#}


        </tr>
        {% endfor %}
    </table>

{#    {% if is_paginated %}#}
{#        {% include "paginator.html" %}#}
{#    {% endif %}#}

</div>
{#        <button> <a href="{% url 'add_to_collection' %}"> Dodaj grę do naszej bazy </a></button>#}

{% endblock %}