{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
    <h2> Mój profil </h2>
    <h3> Nazwa użytkownika: {{ request.user.username }}</h3>


            <h3> Moja kolekcja gier: </h3>
     <table>
             {% for product in user_products %}
                 {% if product.user_have is True %}
                 <tr> <td>{{product.product.name}}</td>
                      {% if product.product.image.url != "" %}
                     <td><a href={% url 'product_detail' product.product.id %}> <img src="{{ product.product.image.url}}" width="100" height="120"></a> </td>
                          {% endif %}
                     <td> <button> <a href={% url  'unavailable' product.product.id %}> Oznacz grę jako niedostępną </a> </button> </td>
                     <td>  <button> <a href={% url 'available'  product.product.id %}> Oznacz grę jako dostępną </a> </button> </td> </tr>

                 {% elif product.user_have is False %}
                      <tr> <td><strike>{{product.product.name}}</strike> (Obecnie niedostępna)</td>
                           {% if product.product.image.url != "" %}
                        <td><a href={% url 'product_detail' product.product.id %}> <img src="{{ product.product.image.url }}" width="100" height="120"></a> </td>
                               {% endif %}
                         <td> <button> <a href={% url  'unavailable' product.product.id %}> Oznacz grę jako niedostępną </a> </button> </td>
                        <td>  <button> <a href={% url 'available'  product.product.id %}> Oznacz grę jako dostępną </a> </button> </td> </tr>
                 {% endif %}
                {% endfor %}

    </table>

    <button> <a href="{% url 'logout'%}"> Wyloguj się </a></button>

{% endblock %}