{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
    <h2 class="text-secondary"> Profil użytkownika {{ request.user.username }}</h2>

<br>
    <br>
            <h2 > Moja kolekcja gier: </h2>
    <br>
     <table>
             {% for product in user_products %}
                 {% if product.user_have is True %}
                     <tr> <td><h2 class="font-weight-bold">{{product.product.name}}</h2></td>
                      {% if product.product.image.url != "" %}
                     <td><a href={% url 'product_detail' product.product.id %}> <img src="{{ product.product.image.url}}" width="120" height="140"></a> </td>
                          {% endif %}

                     <td> <button type="button" class="btn btn-outline-sucess"> <a href={% url  'unavailable' product.product.id %}> Oznacz grę jako niedostępną </a> </button> </td>
                     <td>  <button type="button" class="btn btn-outline-sucess"> <a href={% url 'available'  product.product.id %}> Oznacz grę jako dostępną </a> </button> </td> </tr>

                 {% elif product.user_have is False %}
                      <tr> <td><h2 class="font-weight-bold"><strike>{{product.product.name}}</strike> (Obecnie niedostępna)</h2></td>
                           {% if product.product.image.url != "" %}
                               <td><a href={% url 'product_detail' product.product.id %}> <img src="{{ product.product.image.url }}" width="100" height="120"></a> </td>
                               {% endif %}
                         <td> <button type="button" class="btn btn-outline-sucess"> <a href={% url  'unavailable' product.product.id %}> Oznacz grę jako niedostępną </a> </button> </td>
                        <td>  <button type="button" class="btn btn-outline-sucess"> <a href={% url 'available'  product.product.id %}> Oznacz grę jako dostępną </a> </button> </td> </tr>
                 {% endif %}
                {% endfor %}

    </table> <br>

    <button> <a href="{% url 'logout'%}"> Wyloguj się </a></button>

{% endblock %}